html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(119, 136, 153);
}
.title {
  text-align: center;
  font-size: 7.5rem;
  padding: 1.5rem;
  border: solid #f39044 0.7rem;
  border-radius: 0.7vw;
  width: 50%;
  margin: auto;
  background-color: #fffbc0;
  box-shadow: 0.3rem 0.3rem 0.3rem #e9b77e;
}

.parent {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  width: 99.5%;
  height: auto;
  margin: 5;
  padding: 5;
  font-size: 6rem;
  height: 30%;
}
.child {
  border: solid #f39044 0.7rem;
  border-radius: 0.7vw;
  width: 60%;
  margin: 5;
  background-color: #fffbc0;
  box-shadow: 0.3rem 0.3rem 0.3rem #e9b77e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.picture {
  width: 480px;
  height: 200px;
  background-color: #fffbc0;
}
.description {
  background-color: #fffbc0;
}
.child-1:hover {
  transform: scale(1.014);
  outline: 0.1rem solid #f39044;
}
.child-2:hover {
  transform: translate(2%, 5%);
}
.child-3:hover {
  transform: skewX(15deg);
}
.child-4:hover {
  transform: rotate(5deg);
}
.child-5:hover {
  transform: matrix(0.7, 0.2, 0.1, 0.8, 1.2, 0.6);
}
.animation {
  width: 2rem;
  height: 2rem;
  animation: test 5s infinite;
  position: absolute;
}
@keyframes test {
  0% {
    left: 45%;
    top: 10%;
    background-color: #000;
  }
  25% {
    left: 55%;
    top: 10%;
    background-color: #000;
  }
  50% {
    left: 55%;
    top: 15%;
    background-color: #000;
  }
  75% {
    left: 45%;
    top: 15%;
    background-color: #000;
  }
  100% {
    left: 45%;
    top: 10%;
    background-color: #000;
  }
}
